{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    View Candidate
{% endblock %}
{% block content %}
    <form method="post" name="search_job_seeker">
        {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="selected_job">
            <option selected>Open this select menu</option>
            {% for job in jobs %}
                <option value="{{ job.id }}">{{ job.job_title }}</option>
            {% endfor %}
        </select>
        <!-- bootstrap submit button -->
        <input type="submit" class="btn btn-primary my-1" value="Search Candidate">
    </form>
    {% if not candidates and request.method == "POST" %}
        <h3>No Candidates Found in this category</h3>
    {% else %}
        <form method="post" name="job_seeker_select">
            {% csrf_token %}
            <!-- display candidates -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td>
                            <div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{ candidate.id }}">
                                    {{ candidate.user.get_full_name }} - View Profile
                                </button>
                                <input type="hidden" value="{{ job_id }}" name="job_id">
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ candidate.id }}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel{{ candidate.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5"
                                                    id="exampleModalLabel">{{ candidate.user.get_full_name }}'s
                                                    Profile</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">Name</th>
                                                        <td>{{ candidate.user.get_full_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Email</th>
                                                        <td>{{ candidate.user.email }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Experience</th>
                                                        <td>{{ candidate.experience }} Year(s)</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- bootstrap input button -->
                            <!-- hidden field with candidate id -->
                            <!-- if user is already selected then change the button text -->
                        </td>
                        <td>
                            {% if candidate.is_selected %}
                                <input type="submit" class="btn btn-info" value="Already Selected" name="select_btn"
                                       disabled>
                            {% else %}
                                <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
                                <input type="submit" class="btn btn-success" value="Select" name="select_btn">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    {% endif %}
    {% block script %}
        <script>
            function select_candidate(candidate_id) {
                // using axios send JSON data to the server
                axios.post("{% url 'select_candidate' %}", {
                    candidate_id: candidate_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                })
                    .then(function (response) {
                        // if the response is success
                        console.log(response);
                        if (response.data.success) {
                            // change the button text
                            console.log(this);
                            this.innerText = "Selected";
                        } else {
                            // display error message
                            alert(response.data.message)
                        }
                    })
                    .catch(function (error) {
                        // display error message
                        alert(error)
                    });
            }
        </script>
    {% endblock %}
{% endblock %}